<section class="content">
  <div class="card">
    <div class="card-header ">
      <h1 style="text-align: center;">How To Use The Notes App</h1>
    </div>
      <div class="card-body" style="padding: 30px 50px 30px;">
        <ol>
          <li><h5>Most of the things implemented in this app were done for learning purposes and HOW I did them have been
            documented in the relevant sections and in the comments of the actual code that makes that view. <br><br>
            That means that sometimes, if you don't understand an explanation, the code where I implemented the
            functionality
            being written about would have comments that would help you understand better.</h5></li>
          <li><div>The testing pages are basically free pages, mainly for testing any random angular code you see online and want
            to try out.</div></li>
          <li><div>Anything you're looking for, it's best to start with a search using "ctrl F".</div>  </li>
          <li>You''ll often find frames containing syntaxes which you can easily copy, paste & edit. Use this app for reference purposes.</li>
        </ol>
      </div>
    </div>
    <br>
    <div class="dark">
      <h3 style="text-align: center;">Frequent Actions</h3> <hr>
      <ol>
        <li>I want to do X: <span (click)="goToFn()" class="goToBtn">linkHere</span>.</li>
        <li>I want to do Y: <span (click)="goToFn()" class="goToBtn">linkHere</span>.</li>
        <li>I want to do Z: <span (click)="goToFn()" class="goToBtn">linkHere</span>.</li>
      </ol>
    </div>
</section>
