<section class="content">
  <div class="card dark">
    <h1 style="text-align: center;">Here's how to use the notes app!</h1>
    <h5>Most of the things implemented in this app were done for learning purposes and HOW I did them have been
      documented in the relevant sections and in the comments of the actual code that makes that view. <br><br>
      That means that sometimes, if you don't understand an explanation, the code where I implemented the functionality
      being written about would have comments that would help you understand better.</h5>
  </div>
<br>
  <div class="card dark">
    <h3>Frequent Actions</h3>
    <ul>
      <li>I want to do X: linkHere.</li>
      <li>I want to do Y: linkHere.</li>
      <li>I want to do Z: linkHere.</li>
    </ul>
  </div>
</section>
