body{
  background-attachment: scroll;
}

img{
  border-radius: 1rem;
  margin-bottom: 4rem;
}
.img{
  width: 60%;
  height: 400px;
}
.link {
  color: bisque;
}
.link:hover{
  color: yellow;
}
.frame{
  width: 60%;
  min-height: fit-content;
  margin-right: 40%;
  border: 2px solid;
  border-left: 6px solid #005282;
  padding: 1rem;
  background-color: azure;
  /* OVERFLOW BELOW MAKES IT SCROLL */
  overflow-x: scroll;
  overflow-y: auto;
}

.codeC2 {
  color: yellow;
}
.blue{
  color: #005282;
}
.green {
  color: rgb(95, 177, 12);
}
.red{
  color: #d63384;
}
.comment{
  color: rgb(190, 190, 190);;
}

.backToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: auto;
  /* background-color: rgb(190, 190, 190); */
  opacity: 40%;
  border-radius: 50%;
  cursor: pointer;
  font-size: 60px;
  font-weight: bolder;
}
.CrudNotes{
  background-color: black;
  border: aquamarine;
  border-radius: 5%;
  color: aquamarine;
}
.notes{
  width: 80%;
  position: fixed;
  bottom: 40px;
  left: 80px;
}
.downBtn{
  color: aliceblue;
  width: 50px;
  height: 30px;
  position: fixed;
  bottom: 40px;
  left: 30px;
  background-color: rgb(95, 157, 255);
  border-radius: 20%;
  text-align: center;
  cursor: pointer;
  opacity: 50%;
}
.downBtn:hover{
  background-color: rgb(191, 255, 242);
  opacity: 100%;
  color: #005282;
}
