body{
  /* background-color: rgb(59, 59, 61); */
  padding: 1rem 6rem;
  background-image: url("https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;}

  footer{
    margin-top: 14rem;
    }

.content-section{
  padding: 1rem 6rem;
  background-color: #f2e8d0;
}

.test-btn {
  color: rgb(223, 223, 255);
}
/* .content{
  background-image: url("https://image.shutterstock.com/image-illustration/abstract-connected-dots-technology-concept-600w-580895215.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
} */

.dummyText{
  text-align: center;
  color: greenyellow;
}

.text{
  color: aliceblue;
}

.sec {
  color: greenyellow;
  background-color: blue;
}
